*{
    margin: 0;
    padding: 0;
}

ul{
    width: 720px;
    list-style: none ;
    display: flex;
    margin: 100px auto;
}

.lbox{
    visibility: hidden;
    opacity: 0;
    display: none;

}

.min{
    width: 200px;
    padding: 10px;
}

.lbox:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, .7);
    position: fixed ;
    display: flex;
    
}

.min:hover{
    filter:grayscale(100%);
    transform: scale(1.1);
    transition: all linear 0.2s;

}
.boxImg{
    width: center;
    margin: 50px auto;
}

.btn{
    color: rgb(34, 34, 34);
    font-family: 'Arial';
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

#prev{
    left: 5%;
    top: 45%;
}

#next{
    right: 5%;
    top: 45%;
}

#close{
    top: 0;
    right: 2%;
}
.boxImg img{
    opacity: 0;
}

.lbox:target    .boxImg img{
    opacity: 1;
    transition: opacity 0.4s linear;

}

